@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
@import url(https://weloveiconfonts.com/api/?family=entypo);

/******************* PRELOADER ******************/
#preloader{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#7c2ac9,#240e31,#8f205d);
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 9999;
}
.loader-div{
    width: 10rem;
    height: 10rem;
    position: relative;
    border-radius: 50%;
}
.heading{
    position: absolute;
    color:rgb(202, 167, 167);
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader{
    position: absolute;
    width: 10rem;
    height: 10rem;
    animation: rot 1s linear infinite;
   border-right: 4px solid #511a70;
   border-left: 4px solid rgb(75, 7, 7);
}
@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}     
body {
    font-family: "Poppins", sans-serif !important;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
    font-weight: 600;
}

li {
    list-style: none !important;
}




/******************* HEADER ******************/

header {
    
    height: 100vh;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: bold;
}

.nav-col {
    background-color: #190830;
    opacity: 0.8;
}

.navbar-light .navbar-brand {
    color: white;
    font-weight: bold;
}

.brand1 {
    color: #b356f1;
    padding-right: 0.5rem;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.nav-items {
    color: white !important;
    margin-left: 3rem;
    padding-right: 2rem !important;
    padding-left: 2rem;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
    width: 75% !important;
}

.nav-link {
    padding: 0.2rem 1rem;
}

.nav-items:hover {
    color: #8e0ac2 !important;
}

.banner-text {
    position: absolute;
    top: 700%;
    z-index: 38;
    margin-left: 7rem;
    margin-right: 4rem;
}

.banner-text .main-head {
    color: #fff;
    font-size: 4rem;
    margin-left: 2vw;
    
}

.banner-text .main-head span {
    color: #8560a8;
}

.banner-text p {
    color: #f7f0f2;
    font-size: 30px;
    font-weight: bold;
    
}


p {
    margin-top: 215px;
    margin-bottom: -10rem;
}

.below-head{
    margin-left: 3vw;
}

.below-head span{
    color: #8971cc;

}



.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 35px;
    height: 35px;
    border-bottom: 2px solid #6c1877;
    border-right: 2px solid #540c66;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

::-webkit-scrollbar{
    width: 15px;                                                             /* adjusting the width of the scrollbar */
}
::-webkit-scrollbar-track{
    background: #212529;                                                   /* adding background to the scrollbar */
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(300deg, #550992, #14021e);                /* adding linear color to the scroll-thumb */
}

#search{
    width:170px;
    padding:5px;
    border-radius:25px;
    border:none;
    font-size: 12px;
    text-align: center;
    margin-bottom: 19px;
}


/*--------------------------------------------------------*/
/*Form*/
/*--------------------------------------------------------*/

#login-form {
    display: none;
  }
  
  .form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 8.6% 38.9%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    
    box-shadow: 0 0px 2px 0px;
  }
  
  .button-box {
    width: 171px;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(104, 17, 46, 0.521);
    border-radius: 30px;
  }
  
  .toggle-btn {
    padding: 10px 2px 10px;
    cursor: pointer;
    background: rgb(193, 182, 212);
    border-radius:18px;
    outline: none;
    position: relative;
    background: linear-gradient(132deg, rgba(97, 12, 141, 0.38), rgb(38, 2, 54)),
    rgb(88, 12, 145);
  }
  
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: rgb(9, 9, 15);
    border-radius: 30px;
    transition: 0.5s;
  }
  
  .input-group-signIn {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  
  .input-group-signUp {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(132deg, rgba(97, 12, 141, 0.38), rgb(38, 2, 54)),
    rgb(88, 12, 145);
    border-radius: 30px;
    border: 0;
    outline: none;
  }
  
  .check-box {
    margin: 30px 10px 27px 0;
  }
  
  span {
    color: rgb(160, 136, 197);
    font-size: 34px;
    bottom: 0px;
    position:relative;
  }
  
  #signIn {
    left: 50px;
    font-weight: 400;
  }
  
  #signIn input {
    color: white;
    font-size: 15;
  }
  
  #signUp {
    left: 450px;
    font-weight: 400;
  }
  
  #signUp input {
    color: white;
    font-size: 15;
  }
  






/******************* GAMES ***********************/

.Games {
    padding: 150px 0px;
}

.Games h1 {
    font-size: 50px;
    font-weight: bold;
    backdrop-filter: blur(20px);
}

hr {
    border: 1px solid #361583;
    display: block;
    width: 300px;
    margin: auto;
   

}

.Games p {
    font-size: 23px;
}

.Games-content {
    margin-top: 50px;
}


/************* TEAM **************/

.team {
    margin-top: 200px;
}

.wrapper {
    width: 1152px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;
}

.round-1 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    box-shadow: 0 0 40px #3caea3;
    background: linear-gradient(-180deg, #22ffed, #49b1ad);
}

.round-2 {
    position: absolute;
    top: 50%;
    right: 4%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    box-shadow: 0 0 50px #5622ff;
    background: linear-gradient(-180deg, #5622ff, #49b1ad);
}

.box {
    width: 350px;
    height: 500px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    padding: 1.5rem;
    border-radius: 25px;
    box-shadow: 0 0 20px #3caea3;
    border: 2px solid #0000002a;
    text-align: center;
    backdrop-filter: blur(20px);
    margin-bottom: 50px !important;
    margin-top: 40px !important;
}

.box-raghav {
    margin: auto;
}

.profile-img {
    width: 200px !important;
    height: 200px !important;
    border-radius: 5px !important;
    
    object-fit: cover;
}


/* .profile-img img {
  width: 100%;
  height: 100%;
} */

.box h2 {
    color: #ffffff60;
    text-transform: uppercase;
    margin: 15px 0;
}

.custom-size {
    font-size: 30px;
}

.box p {
    color: #ffffff90;
    font-size: 14px;
}

.socials {
    margin-top: 35px;
}

.socials i {
    margin: 0 10px;
    font-size: 25px;
}

.socials a {
    text-decoration: none;
    color: #ffffff90;
}


/*********** footer ***********/

.email {
    left: 60%;
}

.fas-email {
    font-size: 300%;
}

.e-add {
    font-size: 200%;
}

#footer {
    padding: 100px 0px 40px 0px;
    background-image: linear-gradient(130deg, #23032b 40%, #1f072f 100%);
    /* background-image:linear-gradient(130deg, #ffa159 10%, #ff39b4 51%, #ffa159 100%);    */
}

.subscribe-box {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.subscribe-button {
    background: #29014b !important;
    cursor: pointer;
    width: auto;
}


.subscribe-button:hover{
    background-color: transparent !important;
    transition: 0.4s;
}



.subscribe-button:hover{ 
    background-color:#2c0b3f !important;
    cursor: pointer;
}


.copyright-text {
    font-size: 14px;
    letter-spacing: 0.6px !important;
}

/* for scroll to top button */
#back-to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    color: rgb(42, 9, 58);
    cursor: pointer;
    border: 2px solid rgb(53, 4, 54);
    border-radius: 5px;
    transition:all 0.5s ease-in-out;
    align-items: center;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #333;
    color: #FFF;
    border: 2px solid #FFF;
}

.mt-small-2 {
    margin-top: 0rem !important;
}

.mt-small-5 {
    margin-top: 0rem !important;
}

.mb-small-2 {
    margin-bottom: 0rem !important;
}

.mb-small-5 {
    margin-bottom: 0rem !important;
}


/*
...........responsive.............*/

@media (min-width: 575px) and (max-width: 767px) {
    .about {
        height: 1100px;
    }
}

@media (min-width: 460px) and (max-width: 574px) {
    .about {
        height: 900px;
        padding: 0 20px;
    }
}

@media (max-width: 479px) {
    .header {
        height: 70vh;
    }
    .navbar-light .navbar-brand {
        font-size: 20px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .banner-text .main-head {
        font-size: 2rem;
    }
    .about p {
        font-size: 20px;
    }
}


/**** team responsive ****/

@media (max-width: 1200px) {
    .wrapper {
        max-width: 900px;
    }
}

@media (max-width: 992px) {
    .wrapper {
        max-width: 700px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .box {
        margin-bottom: 20px;
    }
}

@media (max-width: 720px) {
    .wrapper {
        max-width: 700px;
        flex-direction: column;
    }
    .box {
        margin-bottom: 30px;
        width: 400px;
        height: 400px;
    }
    .round-1 {
        display: none;
    }
}

@media (max-width: 576px) {
    .wrapper {
        max-width: 400px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .round-2 {
        display: none;
    }
    .box {
        width: 300px;
        height: auto !important;
    }
    .box h2,
    .custom-size {
        font-size: 15px;
    }
    .box p {
        font-size: 10px;
    }
    .box i {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    .wrapper {
        max-width: 30px;
        flex-direction: column;
    }
    .round-1 {
        display: none;
    }
    .round-2 {
        display: none;
    }
    .box {
        width: 300px;
        height: 400px;
    }
    .box-raghav {
        margin: 0;
    }
    .box h2,
    .custom-size {
        font-size: 15px;
    }
    .box p {
        font-size: 10px;
    }
    .box i {
        font-size: 15px;
    }
}

.bg-black {
    background: black !important;
}

@media (max-width: 768px) {
    .mobile-heading {
        font-size: 40px !important;
    }
    .margin-top-mobile {
        padding-top: 15px;
    }
}
/******************* Social media sidebar******************/
[class^="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}
#social-sidebar {
	left: 0;
	position: fixed;
	top: 30%;
}
#social-sidebar li:first-child a { border-top-right-radius: 5px; }
#social-sidebar li:last-child a { border-bottom-right-radius: 5px; }
 
#social-sidebar a {
	background: rgba(31, 30, 30, 0.7);
	color: #fff;
  text-decoration: none;
	display: block;
	height: 50px;
	width: 50px;  
	font-size: 24px;
	line-height: 50px;
	position: relative;
	text-align: center;
  cursor: pointer;
}
#social-sidebar a:hover span {
	left: 120%;
	opacity: 1;
}
#social-sidebar a span {
  font: 12px "Poppins", sans-serif;
  text-transform: uppercase;
	border-radius: 3px;
	line-height: 24px;
	left: -100%;
	margin-top: -16px;
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	transition: opacity .3s, left .4s;
	top: 50%;
	z-index: -1;
}
 
#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
  width: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
}
 
#social-sidebar a[class*="twitter"]:hover,
#social-sidebar a[class*="twitter"] span,
#social-sidebar a[class*="twitter"] span:before {background: #00aced;}
 
#social-sidebar a[class*="facebook"]:hover,
#social-sidebar a[class*="facebook"] span,
#social-sidebar a[class*="facebook"] span:before {background: #3B5998;}
 
#social-sidebar a[class*="gplus"]:hover,
#social-sidebar a[class*="gplus"] span,
#social-sidebar a[class*="gplus"] span:before {background: #E34429;}
 
#social-sidebar a[class*="instagrem"]:hover,
#social-sidebar a[class*="instagrem"] span,
#social-sidebar a[class*="instagrem"] span:before {background: #ea4c89;}
 
#social-sidebar a[class*="linkedin"]:hover,
#social-sidebar a[class*="linkedin"] span,
#social-sidebar a[class*="linkedin"] span:before {background: #0a416e;}
 
#social-sidebar a[class*="github"]:hover,
#social-sidebar a[class*="github"] span,
#social-sidebar a[class*="github"] span:before {background: #9C7A5B;}


  
/*------------------------------------------CARD MAKER--------------------------------------------------*/

.game_glass{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height:600px;
}

.heading1_game_glass{
    color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-size: 57px;
cursor: pointer;
transition: 0.8s;
margin-bottom: -3px;
text-align: center;
}


.heading_game_glass{
    color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;
font-size: 57px;
cursor: pointer;
transition: 0.8s;
margin-bottom: -4px;
text-align: center;
}

.heading_game_glass{
    margin:0;
    padding:0;

}

.boredr_bottom{
    width:0px;
    background: white;
    height:10px;
    opacity:0;
    transition:0.8s;
}
.heading_game_glass:hover + .border_bottom{
    width:250px;
    opacity:1;
}
.main_container{
    max-width:100vw;
    display:flex;
    flex-direction: row;
    height:auto;
    flex-wrap:wrap;
    
    
}

.card{
    /* max-height: 400px;
    max-width:350px;
    min-height:400px;
    min-width:350px;*/
    margin:10px 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 30px;
    background:rgba(255,255,255,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    margin-bottom: 40px;
}
.card{
    position:relative;
    width:330px;
    height:400px;
    margin:30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background:rgba(255,255,255,0.1);
    
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}
#card-1{
    margin-left: 100px;
    margin-top: 170px;
}
.image_con{
    margin-top: 15px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.image_con img{
    height:190px;
    width:90%;
    border-radius: 30px;
}
.image_con div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1px;
    left: 0px;
    height: 35px;
    width: 328px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(187deg, #0e061b, rgb(89, 58, 139) 47.9%, #7931e4);
    clip-path: polygon(73% 0, 101%, 0 96%, 25% 0);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.game_con{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top: 15px;
}
.game_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    font-size: 120%;
    text-align: center;
}
.game_info{
    margin-top: 10px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    color:white;
    font-weight: 500;
}
.imp_btn{
    margin-top: 30px;
    margin-bottom: -19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 97%;
}
.imp_btn a{
text-decoration: none;
height:42px;
width:90px;
font-size: 17px;
font-weight: 700;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 30px;
color:white;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(to top right, #270549, #995be0);
box-shadow: 1px 1px 20px #000000d6;
}
/* CARD MAKER-------------*/
/*-----------------SCROLL---------------------*/


::-webkit-scrollbar{
    width:10px;
}

/*-------------------------upload a game-------------------------------*/

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(https://wallpaperaccess.com/full/173836.jpg) no-repeat;
    background-size: cover;
    
}
.login-form{
    color:white;
    text-align:center;
}
.login-box{
    width:100px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    padding: 13px 336px;
    text-align: center;
    text-shadow: #ded5f0;
    
}

.login-box h1{
    float:center;
    font-size: 40px;
    border-bottom: 6px solid #ded5f0;
    margin-bottom: 50px;
    
}
.textbox{
    width:50%;
    overflow: hidden;
    font-size: 21px;
    padding: 20px 7px;
    margin: 67px 366px;
    border-bottom: 1px solid #f5edf7;
    color:white;
}
.textbox i{
    width:26px;
    float:left;
    text-align:center;
}
.textbox input{
    border: none;
outline: none;
background: none;
color: white;
font-size: 18px;
width: 77%;
float: left;
margin: 0 10px;
}
.btn{
    width:10%;
    background:none;
    border:2px solid #f5edf7;
    color:white;
    padding: 5px;
    font-size: 18px;
    cursor:pointer;
    margin: 28px 665px;
    text-align: center;
    position: relative;
    
   
}
.wrapper{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top:10%;
  }
  .button{
    display:inline-block;
    cursor:pointer;
    background:none;
    color:white;
    font-size: 18px;
    padding: 5px;
    border:2px solid #f5edf7;
    
  }
  